/* CUSTOMIZE THE HERO UNIT
-------------------------------------------------- */

.hero-unit {
    position: relative;
    min-height: 500px;
    background-image: url(../images/learnary-banner-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 60px;
}


/* Ensure caption stays above image */
.carousel-caption {
    z-index: 10;
}

.carousel-caption h1 {
    font-size: 3rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 60px;
    text-align: center;
}
.marketing h2 {
   font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.btn-round {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.glyphicon {
    font-size: 4rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Increase size of caption content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
