<ng-include src="'js/nav/navbar_top.html'"></ng-include>

<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Users</h3>

        <div class="table-repsonsive">
            <table class="table" ng-if="users.userData">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>School</th>
                        <th>Class</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="user in users.userData track by $index">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td></td>
                        <td></td>
                        <td><label class="label label-success">{{user.roles[0].display_name}}<label></td>
                        <td><button class="btn btn-primary">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
