<ng-include src="'js/nav/navbar_top.html'"></ng-include>

<div class="container">

    <!-- TODO: extract these nav-tabs into a partial? -->
    <div class="col-sm-10 col-sm-offset-1">
        <hr/>
        <ul class="nav nav-tabs">
            <li class="active"><a href="users">Users</a></li>
            <li><a href="roles">Roles</a></li>
            <li><a href="permissions">Permissions</a></li>
            <li><a href="schools">Schools</a></li>
            <li><a href="groups">Groups</a></li>
        </ul>

        <div>
            <button class="btn btn-primary" ui-sref="signup">Add New User</button>
        </div>

        <div class="table-repsonsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>School</th>
                        <th>Class</th>
                        <th>Role</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="user in users.data track by $index">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.group.school.name }}</td>
                        <td>
                            <button ng-click="users.radioModal(user, users.groups, 'group', ['name', ''])"
                                    class="btn btn-xs btn-success">
                                    {{ user.group.name }}
                            </button>
                        </td>
                        <td>
                            <button ng-if="user.roles.length < 1"
                                    ng-click="users.checkboxModal(user, users.roles, 'roles', ['display_name', 'description'])"
                                    class="btn btn-xs btn-primary">
                                    Assign Role
                            </button>
                            <button ng-repeat="role in user.roles track by $index"
                                    ng-click="users.editRoles(user, users.roles, 'roles', ['display_name', 'description'])"
                                    class="btn btn-xs btn-success" >
                                    {{ role.display_name }}
                            </button>
                        </td>
                        <td><button class="btn btn-xs btn-primary" ng-click="users.editUser(user)">Edit</button></td>
                        <td><button class="btn btn-xs btn-danger" ng-click="users.deleteUser(user, $index)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
