
<div class="modal-header">
    <h3>Select an option</h3>
</div>

<form ng-submit="submit()">
    <div class="modal-body">

        <div class="table-repsonsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Description</th>
                        <th>Assigned</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in $ctrl.items track by $index">
                        <td>{{ item.display_name }}</td>
                        <td>{{ item.description }}</td>
                        <td><input type="checkbox" class="checkbox pull-right" ng-model="$ctrl.selected[item.id]"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
        <input type="submit" class="btn primary-btn" ng-click="$ctrl.submit()" />
        <div>Currently selected: {{ $ctrl.selected }}
    </div>
</form>
