<div class="modal-header">
    <h3>Select an option</h3>
</div>

<form>
    <div class="modal-body">

        <div class="table-repsonsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-right">Selected?</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in $ctrl.items track by $index">
                        <td ng-repeat="property in $ctrl.properties">{{ item[property] }}</td>
                        <td><input type="radio" class="pull-right" ng-model="$ctrl.selectedItem" ng-value="$index"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
        <input type="submit" class="btn" ng-click="$ctrl.submit()"/>
    </div>
</form>
