<ng-include src="'js/nav/navbar_top.html'"></ng-include>

<div class="container">

    <div class="col-sm-10 col-sm-offset-1">
        <hr/>
        <ul class="nav nav-tabs">
            <li><a href="users">Users</a></li>
            <li><a href="roles">Roles</a></li>
            <li><a href="permissions">Permissions</a></li>
            <li><a href="schools">Schools</a></li>
            <li class="active"><a href="groups">Groups</a></li>
        </ul>

        <div class="table-repsonsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>School</th>
                        <th>Users</th>
                    </tr>
                </thead>

                <tbody ng-repeat="group in groups.data track by $index">
                    <td>{{ group.name }}</td>
                    <td><button ng-click="groups.launchModal(group)" class="btn btn-xs btn-primary">View</button>
                    <td><button ng-click="groups.launchModal(group)" class="btn btn-xs btn-primary">View</button>
                </tbody>
            </table>
        </div>

    </div>
</div>
